useDynLib(interflex, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom("grDevices", "col2rgb", "graphics.off", "pdf", "rgb")
importFrom("parallel", "detectCores", "stopCluster", "makeCluster")
importFrom("graphics", "hist", "par", "plot")
importFrom("stats", "as.formula", "density", "dnorm", "lm", "median", "predict",
             "model.matrix", "na.omit", "pt", "qt", "quantile", "sd", "cov",
             "var", "vcov","coef", "relevel", "rnorm","pnorm","contr.sum",
			 "glm.control","binomial", "glm", "poisson", "weighted.mean")
importFrom("ggplot2","geom_errorbar", "geom_hline", "labs" ,"geom_line", "geom_point", "geom_rect","geom_ribbon", "geom_smooth", 
			"geom_vline", "ggplot", "ggtitle", "theme", "aes","element_text", "annotate", "xlab", "ylab", "aes_string", 
			"coord_cartesian", "facet_wrap", "facet_grid","theme_bw","element_blank","ggsave","layer_scales","ylim","xlim",
			"scale_color_manual","scale_fill_manual","ggplot_build","ggplot_gtable","geom_histogram","geom_text","last_plot")
importFrom("future","makeClusterPSOCK")
importFrom("mgcv","vis.gam","gam","nb")
importFrom("pcse","pcse")
importFrom("sandwich","sandwich","estfun","bread","vcovHC")
importFrom("Lmoments","Lmoments")
importFrom("foreach","foreach","%dopar%")
importFrom("doParallel","registerDoParallel")
importFrom("gridExtra","arrangeGrob")
importFrom("ggplotify","as.ggplot")
importFrom("grid","textGrob","gpar")
importFrom("RColorBrewer","brewer.pal")
importFrom("utils", "capture.output")
importFrom("gtable", "gtable_filter","gtable_add_grob","gtable_add_cols")
importFrom("grDevices","col2rgb")
importFrom("mvtnorm","rmvnorm")
importFrom("pROC","roc")
importFrom("ModelMetrics","logLoss")
importFrom("lmtest","waldtest","lrtest")
importFrom("lfe","felm")
importFrom("MASS","glm.nb")
importFrom("AER","ivreg")

export(interflex)
S3method("plot", "interflex")
S3method("predict", "interflex")
